

<h2>Products</h2>


  <h3>
    <a [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <h4 *ngIf="product.rating != ''">{{ product.rating }} out of 5</h4>

  <button class="button-1" type="button" (click)="share(product.id)">
    Share
  </button>

  <button class="button-1 button-2" type="button" (click)="onDelete(product.id)">
    Delete
  </button><br>

  <button (click)="onLike(product.id)">
    Like {{ product.likes }}
  </button>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
</div>




  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <h4 *ngIf="product.rating != ''">{{ product.rating }} out of 5</h4>

  <button class="button-1" type="button" (click)="share(product.id)">
    Share
  </button>

  <button class="button-1 button-2" type="button" (click)="onDelete(product.id)">
    Delete
  </button>

  <p>{{ product.likes }}</p>

  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>
</div>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->